<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="desh.css">
        <script src="/socket.io/socket.io.js"></script>
        <script>
            socket = io.connect();
            function initSocket() {
                //socket is global
                alert("connected");
            }

            function sendMessage(total) {
                socket.emit("totalWaitingCalls", { totalWaiting: total });
            }
        </script>
        <script src="./ConnectMongoDB.js"></script>
        <script src="./BigML.js"></script>
        <script src="./KafkaCunsumer.js"></script>
        
        <script>        

        function details(){
           
            //Take the user var
            var city = document.getElementById("city").value;
            var gender = document.getElementById("gender").value;
            var age =  document.getElementById("age").value;
            var prev = document.getElementById("prevCalls").value;
            var prod = document.getElementById("product").value;
            var mood = document.getElementById("mood").value

            window.location.href='http:/'+'/'+'localhost:3002/predictCall/'+city+'/'
                +gender+'/'+age+'/'+prev+'/'+prod+'/'+mood;

            //Delete from textbox
            document.getElementById("city").value = "";
            document.getElementById("gender").value = "";
            document.getElementById("age").value = "";
            document.getElementById("prevCalls").value = "";
            document.getElementById("product").value = "";
            
        }</script>
    </head>

    <body class="p-3 mb-2 bg-danger text-white" data-gr-c-s-loaded="true" onload="initSocket()">

        <h2>Predic Conversation Topic</h2>
        <p>Please enter call details and click "Predict" to predict the type of call.</p>
        <p>To build a new model, please click "Build Model".</p>
        <body style="background-color:rgb(245, 211, 220);">
        
        
        <form name="bigmlp" class="form-inline " action="/action_page.php" >
            <label for="city">City:</label>
            <input type="text" id="city" placeholder="Enter city" name="city">
            
            <label for="gender">Gender:</label>
            <input type="text" id="gender" placeholder="Enter gender" name="gender">
            
            <label for="age">Age:</label>
            <input type="number" id="age" placeholder="Enter age" name="age">
            
            <label for="prevCalls">Previous Calls:</label>
            <input type="number" id="prevCalls" placeholder="Enter Previous Calls" name="prevCalls">
            
            <label for="product">Product:</label>
            <input type="test" id="product" placeholder="Enter product" name="product">
            
            <label for="mood">Mood:</label>
                <select id="mood"  placeholder="Enter age" name="mood">
                        <option value='holiday'>Holidays</option>
                        <option value='vacations'>Vacations</option>
                        <option value='regular day'>Regular day</option>
                </select>
            
        
            <label for="space">     </label>
            <button  type="button" onclick="details()">Predict</button>
            <label for="space">     </label>

            <button  type="button" onclick="location.href='http:/'+'/'+'localhost:3002/buildModel'" value="Build Model" class="input-group-text" >Build Model</button>
            

            
        </form>

    </body>
</html>
